.login_page{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.login{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 30px;
}


.login-grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.login-grid input{
    width: 200px;
    padding: 3px;
    outline: 0;
}

